workflows/calendar-sync.json
{
  "name": "Calendar Sync",
  "id": "calendarSync2468",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger_calendar",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $today.toISO() }}",
          "timeMax": "={{ $now.plus(7, 'days').toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "google_calendar_only",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FFBzpLTlidrND2f2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calendar Sync — Format Google Calendar events for Telegram\n\nfunction esc(t) { return String(t).replace(/([_*`\\[\\]])/g, '\\\\$1'); }\n\nconst TZ = 'America/Sao_Paulo';\nconst nowMs = Date.now();\nconst items = $input.all();\n\nfunction getDayKey(ms) {\n  const d = new Date(ms);\n  const p = new Intl.DateTimeFormat('pt-BR', {\n    timeZone: TZ,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).formatToParts(d);\n  const year = p.find(x => x.type === 'year').value;\n  const month = p.find(x => x.type === 'month').value;\n  const day = p.find(x => x.type === 'day').value;\n  return `${year}-${month}-${day}`;\n}\n\nfunction formatDay(ms) {\n  return new Date(ms)\n    .toLocaleDateString('pt-BR', {\n      timeZone: TZ,\n      weekday: 'short',\n      day: '2-digit',\n      month: '2-digit'\n    })\n    .toUpperCase();\n}\n\nfunction formatTime(ms) {\n  return new Date(ms).toLocaleTimeString('pt-BR', {\n    timeZone: TZ,\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n}\n\nfunction parseCalendarStart(start) {\n  if (!start) return null;\n\n  if (start.dateTime) {\n    const ms = new Date(start.dateTime).getTime();\n    if (!Number.isFinite(ms)) return null;\n    return { ms, allDay: false };\n  }\n\n  if (start.date) {\n    const parts = String(start.date).split('-').map(Number);\n    if (parts.length !== 3 || parts.some(Number.isNaN)) return null;\n\n    const [year, month, day] = parts;\n    const ms = Date.UTC(year, month - 1, day, 3, 0, 0);\n    return { ms, allDay: true };\n  }\n\n  return null;\n}\n\nconst todayKey = getDayKey(nowMs);\nconst in24hMs = nowMs + 24 * 60 * 60 * 1000;\n\nconst events = items\n  .map(item => item.json || {})\n  .map(ev => {\n    const parsed = parseCalendarStart(ev.start);\n    if (!parsed) return null;\n\n    const dayKey = getDayKey(parsed.ms);\n    const isToday = dayKey === todayKey;\n\n    let icon = '📌';\n    if (isToday) {\n      icon = '🔥';\n    } else if (parsed.ms <= in24hMs) {\n      icon = '⚠️';\n    }\n\n    return {\n      ms: parsed.ms,\n      allDay: parsed.allDay,\n      icon,\n      title: esc(ev.summary || 'Sem titulo'),\n      context: 'AGENDA',\n      day: formatDay(parsed.ms),\n      time: parsed.allDay ? 'O DIA TODO' : formatTime(parsed.ms),\n      isToday\n    };\n  })\n  .filter(Boolean)\n  .sort((a, b) => a.ms - b.ms);\n\nconst todayCount = events.filter(e => e.isToday).length;\n\nlet message = '🗓️ *Calendario — Proximos 7 dias*\\n\\n';\nmessage += '*📊 RESUMO*\\n';\nmessage += `• Total: *${events.length}*\\n`;\nmessage += `• Hoje: *${todayCount}*\\n`;\nmessage += `• Proximos dias: *${events.length - todayCount}*\\n\\n`;\n\nmessage += '*🗂️ AGENDA*\\n';\nif (events.length === 0) {\n  message += '😴 Nenhum evento no periodo.';\n} else {\n  message += events\n    .map(event => {\n      const context = event.context;\n      const title = event.title;\n      const when = event.allDay\n        ? `${event.day} — O DIA TODO`\n        : `${event.day} as ${event.time}`;\n      return `• ${event.icon} *[${context}]* ${title}\\n  📅 ${when}`;\n    })\n    .join('\\n\\n');\n}\n\nreturn [{ json: { text: message.trim() } }];"
      },
      "id": "format_calendar",
      "name": "Format Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "telegram_calendar",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "Yq8E9uV5gI8Zm2Gq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Format Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Calendar": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
