workflows/classroom-sync.json
{
  "name": "Classroom Sync",
  "id": "classroomSync789",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger_classroom",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.CLASSROOM_API_BASE_URL + '/courses' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "courseStates",
              "value": "ACTIVE"
            },
            {
              "name": "studentId",
              "value": "me"
            }
          ]
        },
        "options": {}
      },
      "id": "http_courses",
      "name": "Get Courses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "onError": "continueRegularOutput",
      "position": [
        200,
        0
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "I7iTrJbR9OZCOUUE",
          "name": "Google Classroom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Classroom Sync — Parse courses response\n\nfunction esc(t) { return String(t).replace(/([_*`\\[\\]])/g, '\\\\$1'); }\n\nconst data = $input.first().json || {};\nconst CLASSROOM_BASE = String($env.CLASSROOM_API_BASE_URL).replace(/\\/$/, '');\n\nif (!Array.isArray(data.courses) || data.courses.length === 0) {\n  let message = '*Classroom - Proximas Entregas*\\n\\n';\n  message += '*RESUMO*\\n';\n  message += '• Total: *0*\\n';\n  message += '• Hoje: *0*\\n';\n  message += '• Urgentes (<48h): *0*\\n\\n';\n  message += '*AGENDA*\\n';\n  message += 'Nenhuma entrega no periodo.';\n\n  return [{ json: { hasCourses: false, text: message } }];\n}\n\nreturn data.courses.map(course => ({\n  json: {\n    hasCourses: true,\n    courseId: course.id,\n    courseName: course.name,\n    url: `${CLASSROOM_BASE}/courses/${course.id}/courseWork`\n  }\n}));"
      },
      "id": "parse_courses",
      "name": "Parse Courses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition_has_courses",
              "leftValue": "={{ $json.hasCourses }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if_has_courses",
      "name": "Has Courses?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "courseWorkStates",
              "value": "PUBLISHED"
            },
            {
              "name": "orderBy",
              "value": "dueDate desc"
            },
            {
              "name": "pageSize",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "http_coursework",
      "name": "Get CourseWork",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "onError": "continueRegularOutput",
      "position": [
        800,
        -100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleOAuth2Api": {
          "id": "I7iTrJbR9OZCOUUE",
          "name": "Google Classroom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Classroom Sync — Format assignments for Telegram\n\nfunction esc(t) { return String(t).replace(/([_*`\\[\\]])/g, '\\\\$1'); }\n\nconst TZ = 'America/Sao_Paulo';\nconst nowMs = Date.now();\nconst in14dMs = nowMs + 14 * 24 * 60 * 60 * 1000;\nconst in48hMs = nowMs + 48 * 60 * 60 * 1000;\nconst allItems = $input.all();\n\nfunction dayKey(ms) {\n  const parts = new Intl.DateTimeFormat('pt-BR', {\n    timeZone: TZ,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).formatToParts(new Date(ms));\n\n  const year = parts.find(p => p.type === 'year').value;\n  const month = parts.find(p => p.type === 'month').value;\n  const day = parts.find(p => p.type === 'day').value;\n  return `${year}-${month}-${day}`;\n}\n\nfunction formatDay(ms) {\n  return new Date(ms)\n    .toLocaleDateString('pt-BR', {\n      timeZone: TZ,\n      weekday: 'short',\n      day: '2-digit',\n      month: '2-digit'\n    })\n    .toUpperCase();\n}\n\nfunction priorityLabel(isToday, ms) {\n  if (isToday) return 'HOJE';\n  if (ms <= in48hMs) return 'URGENTE';\n  return 'PROXIMO';\n}\n\nconst todayKey = dayKey(nowMs);\n\nconst upcoming = [];\n\nallItems.forEach(item => {\n  const data = item.json || {};\n  const courseName = data.courseName || 'CLASSROOM';\n  const works = Array.isArray(data.courseWork) ? data.courseWork : [];\n\n  works.forEach(work => {\n    if (!work.dueDate) return;\n\n    const year = Number(work.dueDate.year);\n    const month = Number(work.dueDate.month);\n    const day = Number(work.dueDate.day);\n    if (!Number.isFinite(year) || !Number.isFinite(month) || !Number.isFinite(day)) return;\n\n    // 23:59 BRT represented in UTC.\n    const dueMs = Date.UTC(year, month - 1, day, 2, 59, 0);\n    if (!Number.isFinite(dueMs) || dueMs < nowMs || dueMs > in14dMs) return;\n\n    const isToday = dayKey(dueMs) === todayKey;\n\n    upcoming.push({\n      ms: dueMs,\n      priority: priorityLabel(isToday, dueMs),\n      context: esc(courseName),\n      title: esc(work.title || 'Tarefa sem titulo'),\n      day: formatDay(dueMs),\n      time: '23:59',\n      isToday\n    });\n  });\n});\n\nupcoming.sort((a, b) => a.ms - b.ms);\n\nconst todayCount = upcoming.filter(item => item.isToday).length;\nconst urgentCount = upcoming.filter(item => item.ms > nowMs && item.ms <= in48hMs).length;\n\nlet message = '*Classroom - Proximas Entregas*\\n\\n';\nmessage += '*RESUMO*\\n';\nmessage += `• Total: *${upcoming.length}*\\n`;\nmessage += `• Hoje: *${todayCount}*\\n`;\nmessage += `• Urgentes (<48h): *${urgentCount}*\\n\\n`;\n\nmessage += '*AGENDA*\\n';\nif (upcoming.length === 0) {\n  message += 'Nenhuma entrega no periodo.';\n} else {\n  message += upcoming\n    .map(item => {\n      const context = item.context;\n      const title = item.title;\n      return `• *[${item.priority}]* *[${context}]* ${title}\\n  Quando: ${item.day} as ${item.time}`;\n    })\n    .join('\\n\\n');\n}\n\nreturn [{ json: { text: message.trim() } }];"
      },
      "id": "format_classroom",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "telegram_classroom",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1200,
        -100
      ],
      "credentials": {
        "telegramApi": {
          "id": "Yq8E9uV5gI8Zm2Gq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "telegram_no_courses",
      "name": "Telegram No Courses",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1200,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "Yq8E9uV5gI8Zm2Gq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Courses": {
      "main": [
        [
          {
            "node": "Parse Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Courses": {
      "main": [
        [
          {
            "node": "Has Courses?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Courses?": {
      "main": [
        [
          {
            "node": "Get CourseWork",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram No Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CourseWork": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
