workflows/daily-briefing.json
{
  "name": "Daily Briefing",
  "id": "KZPDjrKOkeo5VEgr",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "85111310-1d03-4e47-ab4e-c64c6ec5b8cf",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 7
            }
          ]
        }
      },
      "id": "5f938ca1-5c7b-44d2-a4fc-1e9ad9427b58",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.MOODLE_URL + '/webservice/rest/server.php' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wstoken",
              "value": "={{ $env.MOODLE_TOKEN }}"
            },
            {
              "name": "wsfunction",
              "value": "core_calendar_get_calendar_upcoming_view"
            },
            {
              "name": "moodlewsrestformat",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "http_moodle_unified",
      "name": "Moodle API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "onError": "continueRegularOutput",
      "position": [
        200,
        112
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $today.toISO() }}",
          "timeMax": "={{ $now.plus(7, 'days').toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "106b48c6-3cf0-4080-981e-2ec5954209d8",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        400,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FFBzpLTlidrND2f2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.UTFPR_PORTAL_BASE_URL + '/auth' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { username: $env.UTFPR_PORTAL_USERNAME, password: $env.UTFPR_PORTAL_PASSWORD } }}",
        "options": {},
        "method": "POST"
      },
      "id": "utfpr_auth_daily",
      "name": "UTFPR Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "onError": "continueRegularOutput",
      "position": [
        560,
        -84
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.UTFPR_PORTAL_BASE_URL + '/dados' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.token }}"
            }
          ]
        },
        "options": {},
        "method": "GET"
      },
      "id": "utfpr_dados_daily",
      "name": "UTFPR Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "onError": "continueRegularOutput",
      "position": [
        760,
        -84
      ]
    },
    {
      "parameters": {
        "jsCode": "// UTFPR Aulas — Select student course and preserve auth token\n\nconst authPayload = $items('UTFPR Auth')[0]?.json || {};\nconst dadosPayload = $input.first().json || {};\n\nconst token = String(authPayload.token || '').trim();\nif (!token) {\n  return [{\n    json: {\n      ok: false,\n      error: 'auth_failed',\n      detail: String(authPayload.message || authPayload.error || 'Token ausente no auth').trim()\n    }\n  }];\n}\n\nconst cursosRoot = Array.isArray(dadosPayload?.cursos) ? dadosPayload.cursos : [];\nconst cursosAluno = Array.isArray(dadosPayload?.aluno?.cursos) ? dadosPayload.aluno.cursos : [];\nconst cursos = cursosRoot.length > 0 ? cursosRoot : cursosAluno;\nconst preferredCod = String($env.UTFPR_COD_ALUNO || '').trim();\n\nlet selected = null;\nif (preferredCod) {\n  selected = cursos.find(course => String(course?.alCuIdVc || '') === preferredCod) || null;\n}\nif (!selected) {\n  selected = cursos[0] || null;\n}\n\nif (!selected || !selected.alCuIdVc) {\n  return [{\n    json: {\n      ok: false,\n      error: 'course_not_found',\n      detail: 'Nao foi possivel determinar codAluno em /dados para consultar horario',\n      token\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    token,\n    codAluno: String(selected.alCuIdVc),\n    cursoNome: String(selected.cursNomeVc || selected.curso || ''),\n    nomeAluno: String(dadosPayload.pessNomeVc || dadosPayload.nome || ''),\n    ra: String(dadosPayload.login || dadosPayload.ra || ''),\n    preferredCod\n  }\n}];"
      },
      "id": "select_utfpr_course_daily",
      "name": "Select UTFPR Course",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -84
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.UTFPR_PORTAL_BASE_URL + '/' + encodeURIComponent($json.codAluno || '') + '/horario' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.token }}"
            }
          ]
        },
        "options": {},
        "method": "GET"
      },
      "id": "utfpr_horario_daily",
      "name": "UTFPR Horario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "onError": "continueRegularOutput",
      "position": [
        1160,
        -84
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.UTFPR_PORTAL_BASE_URL + '/' + encodeURIComponent(($items('Select UTFPR Course')[0] && $items('Select UTFPR Course')[0].json && $items('Select UTFPR Course')[0].json.codAluno) || '') + '/boletim' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + (($items('Select UTFPR Course')[0] && $items('Select UTFPR Course')[0].json && $items('Select UTFPR Course')[0].json.token) || '') }}"
            }
          ]
        },
        "options": {},
        "method": "GET"
      },
      "id": "utfpr_boletim_daily",
      "name": "UTFPR Boletim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "onError": "continueRegularOutput",
      "position": [
        1360,
        -84
      ]
    },
    {
      "parameters": {
        "jsCode": "// UTFPR Aulas — Parse auth/dados/horario/boletim payloads into reusable data\n\nconst TZ = 'America/Sao_Paulo';\nconst DAY_LABELS = {\n  1: 'DOM',\n  2: 'SEG',\n  3: 'TER',\n  4: 'QUA',\n  5: 'QUI',\n  6: 'SEX',\n  7: 'SAB'\n};\n\nconst TURN_ORDER = { M: 0, T: 1, N: 2 };\nconst SLOT_TIMES = {\n  M: {\n    1: ['07:30', '08:20'],\n    2: ['08:20', '09:10'],\n    3: ['09:10', '10:00'],\n    4: ['10:20', '11:10'],\n    5: ['11:10', '12:00'],\n    6: ['12:00', '12:50']\n  },\n  T: {\n    1: ['13:00', '13:50'],\n    2: ['13:50', '14:40'],\n    3: ['14:40', '15:30'],\n    4: ['15:50', '16:40'],\n    5: ['16:40', '17:30'],\n    6: ['17:30', '18:20']\n  },\n  N: {\n    1: ['18:40', '19:30'],\n    2: ['19:30', '20:20'],\n    3: ['20:20', '21:10'],\n    4: ['21:20', '22:10'],\n    5: ['22:10', '23:00']\n  }\n};\n\nfunction safeNumber(v, fallback = 0) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction toMinutes(hhmm) {\n  const [hh, mm] = String(hhmm || '00:00').split(':').map(Number);\n  if (!Number.isFinite(hh) || !Number.isFinite(mm)) return 0;\n  return hh * 60 + mm;\n}\n\nfunction countSlotsInBlock(block) {\n  const start = Number(block?.slotStart);\n  const end = Number(block?.slotEnd);\n  if (Number.isFinite(start) && Number.isFinite(end) && end >= start) {\n    return end - start + 1;\n  }\n  return 1;\n}\n\nfunction shiftHHmm(hhmm, deltaMinutes) {\n  const total = ((toMinutes(hhmm) + deltaMinutes) % 1440 + 1440) % 1440;\n  const hh = String(Math.floor(total / 60)).padStart(2, '0');\n  const mm = String(total % 60).padStart(2, '0');\n  return `${hh}:${mm}`;\n}\n\nfunction nowInfoInTz() {\n  const now = new Date();\n  const weekdayShort = now.toLocaleDateString('en-US', {\n    timeZone: TZ,\n    weekday: 'short'\n  });\n\n  const weekdayMap = {\n    Sun: 1,\n    Mon: 2,\n    Tue: 3,\n    Wed: 4,\n    Thu: 5,\n    Fri: 6,\n    Sat: 7\n  };\n\n  const todayDayNumber = weekdayMap[weekdayShort] || 1;\n\n  const timeParts = new Intl.DateTimeFormat('pt-BR', {\n    timeZone: TZ,\n    hour: '2-digit',\n    minute: '2-digit'\n  }).formatToParts(now);\n\n  const hh = Number(timeParts.find(part => part.type === 'hour')?.value || 0);\n  const mm = Number(timeParts.find(part => part.type === 'minute')?.value || 0);\n  return {\n    todayDayNumber,\n    nowMinutes: hh * 60 + mm\n  };\n}\n\nfunction parseHoraDescr(code) {\n  const raw = String(code || '').trim().toUpperCase();\n  const match = raw.match(/^(\\d)([MTN])(\\d)$/);\n  if (!match) return null;\n\n  const dia = Number(match[1]);\n  const turno = match[2];\n  const slot = Number(match[3]);\n\n  if (!DAY_LABELS[dia]) return null;\n  if (!SLOT_TIMES[turno] || !SLOT_TIMES[turno][slot]) return null;\n\n  return { dia, turno, slot };\n}\n\nfunction parseHorarioPayload(payload) {\n  const rows = Array.isArray(payload) ? payload : [];\n  const slots = [];\n\n  rows.forEach(row => {\n    const disciplina = String(row?.discNomeVc || '').trim();\n    const cod = String(row?.discCodVelhoVc || '').trim();\n    const horarios = Array.isArray(row?.horarios) ? row.horarios : [];\n    const professores = Array.isArray(row?.professores) ? row.professores : [];\n    const professor = String(professores[0]?.pessNomeVc || '').trim();\n\n    horarios.forEach(h => {\n      const parsed = parseHoraDescr(h?.horaDescrVc);\n      if (!parsed) return;\n\n      const slotWindow = SLOT_TIMES[parsed.turno][parsed.slot];\n      const sala = String(h?.ambienteNomeVc || '').trim();\n\n      slots.push({\n        dia: parsed.dia,\n        dayLabel: DAY_LABELS[parsed.dia],\n        turno: parsed.turno,\n        slot: parsed.slot,\n        inicio: slotWindow[0],\n        fim: slotWindow[1],\n        disciplina,\n        cod,\n        sala,\n        professor\n      });\n    });\n  });\n\n  slots.sort((a, b) => {\n    if (a.dia !== b.dia) return a.dia - b.dia;\n    if (a.turno !== b.turno) return TURN_ORDER[a.turno] - TURN_ORDER[b.turno];\n    return a.slot - b.slot;\n  });\n\n  return slots;\n}\n\nfunction mergeConsecutiveSlots(slots) {\n  const merged = [];\n\n  slots.forEach(slot => {\n    const prev = merged[merged.length - 1];\n    const canMerge =\n      prev &&\n      prev.dia === slot.dia &&\n      prev.turno === slot.turno &&\n      prev.disciplina === slot.disciplina &&\n      prev.cod === slot.cod &&\n      prev.slotEnd + 1 === slot.slot;\n\n    if (!canMerge) {\n      merged.push({\n        dia: slot.dia,\n        dayLabel: slot.dayLabel,\n        turno: slot.turno,\n        slotStart: slot.slot,\n        slotEnd: slot.slot,\n        inicio: slot.inicio,\n        fim: slot.fim,\n        disciplina: slot.disciplina,\n        cod: slot.cod,\n        salas: slot.sala ? [slot.sala] : [],\n        professor: slot.professor\n      });\n      return;\n    }\n\n    prev.slotEnd = slot.slot;\n    prev.fim = slot.fim;\n\n    if (slot.sala && !prev.salas.includes(slot.sala)) {\n      prev.salas.push(slot.sala);\n    }\n\n    if (!prev.professor && slot.professor) {\n      prev.professor = slot.professor;\n    }\n  });\n\n  return merged.map(item => ({\n    dia: item.dia,\n    dayLabel: item.dayLabel,\n    dayOffset: 0,\n    turno: item.turno,\n    slotStart: item.slotStart,\n    slotEnd: item.slotEnd,\n    inicio: item.inicio,\n    fim: item.fim,\n    disciplina: item.disciplina,\n    cod: item.cod,\n    sala: item.salas.join('/'),\n    professor: item.professor || ''\n  }));\n}\n\nfunction parseBoletimPayload(payload) {\n  const rows = Array.isArray(payload) ? payload : [];\n  const map = {};\n\n  rows.forEach(row => {\n    const cod = String(row?.discCodVelhoVc || '').trim();\n    if (!cod) return;\n\n    const faltas = safeNumber(row?.faltas, 0);\n    const aulasDadas = safeNumber(row?.aulasDadas, 0);\n    const aulasPrevistas = safeNumber(row?.aulasPrevistas, 0);\n    const limiteFaltas = aulasPrevistas > 0 ? Math.floor(aulasPrevistas * 0.25) : null;\n\n    map[cod] = {\n      faltas,\n      aulasDadas,\n      aulasPrevistas,\n      limiteFaltas,\n      faltasRestantes: Number.isFinite(limiteFaltas) ? limiteFaltas - faltas : null,\n      faltaPercent: aulasDadas > 0 ? Number(((100 * faltas) / aulasDadas).toFixed(1)) : null\n    };\n  });\n\n  return map;\n}\n\nfunction collectRowsFromItems(nodeName) {\n  return $items(nodeName).flatMap(item => {\n    const json = item?.json;\n    if (Array.isArray(json)) return json;\n    if (json && typeof json === 'object') return [json];\n    return [];\n  });\n}\n\nconst authPayload = $items('UTFPR Auth')[0]?.json || {};\nconst selectedCourse = $items('Select UTFPR Course')[0]?.json || {};\nconst horarioPayload = collectRowsFromItems('UTFPR Horario');\nconst boletimPayload = collectRowsFromItems('UTFPR Boletim');\n\nif (!selectedCourse.ok) {\n  const detail = String(selectedCourse.detail || authPayload.message || authPayload.error || '').trim();\n  return [{\n    json: {\n      ok: false,\n      error: selectedCourse.error || 'utfpr_data_unavailable',\n      detail,\n      todayClasses: [],\n      todayAbsences: [],\n      hint: null\n    }\n  }];\n}\n\nconst nowInfo = nowInfoInTz();\nconst slots = parseHorarioPayload(horarioPayload);\nconst mergedBlocks = mergeConsecutiveSlots(slots);\nconst absencesByCode = parseBoletimPayload(boletimPayload);\n\nconst blocks = mergedBlocks.map(block => {\n  const dayOffset = (block.dia - nowInfo.todayDayNumber + 7) % 7;\n  const absence = block.cod ? absencesByCode[block.cod] || null : null;\n  return {\n    ...block,\n    dayOffset,\n    absence\n  };\n});\n\nblocks.sort((a, b) => {\n  if (a.dayOffset !== b.dayOffset) return a.dayOffset - b.dayOffset;\n  if (a.turno !== b.turno) return TURN_ORDER[a.turno] - TURN_ORDER[b.turno];\n  return a.slotStart - b.slotStart;\n});\n\nconst todayClasses = blocks\n  .filter(block => block.dayOffset === 0)\n  .sort((a, b) => toMinutes(a.inicio) - toMinutes(b.inicio));\n\nconst todayClassSlots = todayClasses.reduce((acc, block) => acc + countSlotsInBlock(block), 0);\n\nconst nowOrUpcomingToday = todayClasses\n  .filter(block => toMinutes(block.fim) >= nowInfo.nowMinutes)\n  .sort((a, b) => toMinutes(a.inicio) - toMinutes(b.inicio));\n\nlet hint = null;\nconst prepMinutes = safeNumber($env.UTFPR_PREP_MINUTES, 45);\nconst commuteMinutes = safeNumber($env.UTFPR_COMMUTE_MINUTES, 20);\n\nif (nowOrUpcomingToday.length > 0) {\n  const first = nowOrUpcomingToday[0];\n  hint = {\n    when: 'hoje',\n    dayLabel: first.dayLabel,\n    classStartsAt: first.inicio,\n    arrumarAt: shiftHHmm(first.inicio, -prepMinutes),\n    sairAt: shiftHHmm(first.inicio, -commuteMinutes),\n    prepMinutes,\n    commuteMinutes\n  };\n}\n\nconst todayAbsences = [];\nconst seenTodayDisciplines = new Set();\n\ntodayClasses.forEach(block => {\n  const disciplineKey = String(block.cod || block.disciplina || '').trim();\n  if (!disciplineKey || seenTodayDisciplines.has(disciplineKey)) return;\n\n  seenTodayDisciplines.add(disciplineKey);\n  const abs = block.absence || {};\n\n  todayAbsences.push({\n    cod: String(block.cod || ''),\n    disciplina: String(block.disciplina || ''),\n    faltas: safeNumber(abs.faltas, 0),\n    aulasDadas: Number.isFinite(Number(abs.aulasDadas)) ? Number(abs.aulasDadas) : null,\n    aulasPrevistas: Number.isFinite(Number(abs.aulasPrevistas)) ? Number(abs.aulasPrevistas) : null,\n    limiteFaltas: Number.isFinite(Number(abs.limiteFaltas)) ? Number(abs.limiteFaltas) : null,\n    faltasRestantes: Number.isFinite(Number(abs.faltasRestantes)) ? Number(abs.faltasRestantes) : null,\n    faltaPercent: Number.isFinite(Number(abs.faltaPercent)) ? Number(abs.faltaPercent) : null\n  });\n});\n\ntodayAbsences.sort((a, b) => String(a.disciplina).localeCompare(String(b.disciplina), 'pt-BR'));\n\nconst absencesSummary = todayAbsences.reduce(\n  (acc, row) => {\n    acc.disciplines += 1;\n    acc.totalFaltas += safeNumber(row.faltas, 0);\n    if (Number.isFinite(row.limiteFaltas)) {\n      acc.totalLimiteFaltas += row.limiteFaltas;\n    }\n    if (Number.isFinite(row.faltasRestantes)) {\n      acc.totalRestantes += row.faltasRestantes;\n    }\n    return acc;\n  },\n  { disciplines: 0, totalFaltas: 0, totalLimiteFaltas: 0, totalRestantes: 0 }\n);\n\nreturn [{\n  json: {\n    ok: true,\n    source: 'utfpr-aulas',\n    generatedAtMs: Date.now(),\n    todayDayNumber: nowInfo.todayDayNumber,\n    student: {\n      nome: String(selectedCourse.nomeAluno || ''),\n      ra: String(selectedCourse.ra || ''),\n      curso: String(selectedCourse.cursoNome || ''),\n      codAluno: String(selectedCourse.codAluno || '')\n    },\n    totals: {\n      slots: slots.length,\n      blocks: blocks.length,\n      todayBlocks: todayClasses.length,\n      todaySlots: todayClassSlots,\n      todayDisciplines: seenTodayDisciplines.size,\n      today: todayClasses.length,\n      next: 0\n    },\n    hint,\n    absencesSummary,\n    todayAbsences,\n    todayClasses,\n    nextClasses: [],\n    allBlocks: todayClasses\n  }\n}];"
      },
      "id": "parse_aulas_daily",
      "name": "Parse Aulas Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -84
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.CLASSROOM_API_BASE_URL + '/courses' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "courseStates",
              "value": "ACTIVE"
            },
            {
              "name": "studentId",
              "value": "me"
            }
          ]
        },
        "options": {}
      },
      "id": "http_classroom_courses",
      "name": "Get Courses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        112
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleOAuth2Api": {
          "id": "I7iTrJbR9OZCOUUE",
          "name": "Google Classroom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst CLASSROOM_BASE = String($env.CLASSROOM_API_BASE_URL).replace(/\\/$/, '');\nif (!data.courses || data.courses.length === 0) {\n  return [{ json: { courseName: '__none__', noCourses: true, url: `${CLASSROOM_BASE}/courses/0/courseWork` } }];\n}\nreturn data.courses.map(c => ({\n  json: {\n    courseName: c.name,\n    noCourses: false,\n    url: `${CLASSROOM_BASE}/courses/${c.id}/courseWork`\n  }\n}));"
      },
      "id": "prep_classroom",
      "name": "Prep Classroom",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "courseWorkStates",
              "value": "PUBLISHED"
            },
            {
              "name": "orderBy",
              "value": "dueDate desc"
            },
            {
              "name": "pageSize",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "http_classroom_coursework",
      "name": "Get CourseWork",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        112
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "googleOAuth2Api": {
          "id": "I7iTrJbR9OZCOUUE",
          "name": "Google Classroom"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Daily Briefing — unified formatting for Calendar + Moodle + Classroom + Aulas\n\nfunction esc(t) { return String(t).replace(/([_*`\\[\\]])/g, '\\\\$1'); }\n\nfunction plural(value, one, many) {\n  return Number(value) === 1 ? one : many;\n}\n\nconst TZ = 'America/Sao_Paulo';\nconst nowMs = Date.now();\nconst in14dMs = nowMs + 14 * 24 * 60 * 60 * 1000;\nconst in48hMs = nowMs + 48 * 60 * 60 * 1000;\n\nconst gcalItems = $items('Google Calendar');\nconst moodleItem = $items('Moodle API') && $items('Moodle API').length > 0 ? $items('Moodle API')[0].json : {};\nconst prepItems = $items('Prep Classroom');\nconst cwItems = $items('Get CourseWork');\nconst aulasData = $items('Parse Aulas Data') && $items('Parse Aulas Data').length > 0\n  ? $items('Parse Aulas Data')[0].json\n  : null;\n\nfunction dayKey(ms) {\n  const parts = new Intl.DateTimeFormat('pt-BR', {\n    timeZone: TZ,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).formatToParts(new Date(ms));\n\n  const year = parts.find(p => p.type === 'year').value;\n  const month = parts.find(p => p.type === 'month').value;\n  const day = parts.find(p => p.type === 'day').value;\n  return `${year}-${month}-${day}`;\n}\n\nfunction formatDay(ms) {\n  return new Date(ms)\n    .toLocaleDateString('pt-BR', {\n      timeZone: TZ,\n      weekday: 'short',\n      day: '2-digit',\n      month: '2-digit'\n    })\n    .toUpperCase();\n}\n\nfunction formatTime(ms) {\n  return new Date(ms).toLocaleTimeString('pt-BR', {\n    timeZone: TZ,\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n}\n\nfunction parseCalendarStart(start) {\n  if (!start) return null;\n\n  if (start.dateTime) {\n    const ms = new Date(start.dateTime).getTime();\n    if (!Number.isFinite(ms)) return null;\n    return { ms, allDay: false };\n  }\n\n  if (start.date) {\n    const parts = String(start.date).split('-').map(Number);\n    if (parts.length !== 3 || parts.some(Number.isNaN)) return null;\n\n    const [year, month, day] = parts;\n    const ms = Date.UTC(year, month - 1, day, 3, 0, 0);\n    return { ms, allDay: true };\n  }\n\n  return null;\n}\n\nfunction startOfTodayInTzMs() {\n  const parts = new Intl.DateTimeFormat('pt-BR', {\n    timeZone: TZ,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).formatToParts(new Date());\n\n  const year = Number(parts.find(p => p.type === 'year').value);\n  const month = Number(parts.find(p => p.type === 'month').value);\n  const day = Number(parts.find(p => p.type === 'day').value);\n\n  // 00:00 BRT represented in UTC.\n  return Date.UTC(year, month - 1, day, 3, 0, 0);\n}\n\nfunction pseudoMsFromOffset(dayOffset, hhmm) {\n  const dayMs = 24 * 60 * 60 * 1000;\n  const [hh, mm] = String(hhmm || '00:00').split(':').map(Number);\n  const minutes = Number.isFinite(hh) && Number.isFinite(mm) ? hh * 60 + mm : 0;\n  return startOfTodayInTzMs() + dayOffset * dayMs + minutes * 60 * 1000;\n}\n\nconst todayKey = dayKey(nowMs);\nconst events = [];\n\nfunction buildEvent(ms, allDay, context, title) {\n  const key = dayKey(ms);\n  const isToday = key === todayKey;\n\n  const priority = isToday\n    ? 'HOJE'\n    : ms <= in48hMs\n      ? 'URGENTE'\n      : 'PROXIMO';\n\n  return {\n    ms,\n    allDay,\n    priority,\n    context,\n    title,\n    day: formatDay(ms),\n    time: allDay ? 'O DIA TODO' : formatTime(ms),\n    isToday\n  };\n}\n\nfunction countSlotsInBlock(block) {\n  const start = Number(block?.slotStart);\n  const end = Number(block?.slotEnd);\n  if (Number.isFinite(start) && Number.isFinite(end) && end >= start) {\n    return end - start + 1;\n  }\n  return 1;\n}\n\nfunction formatAbsenceStatus(absence) {\n  const faltas = Number.isFinite(Number(absence?.faltas)) ? Number(absence.faltas) : 0;\n  const limite = Number.isFinite(Number(absence?.limiteFaltas)) ? Number(absence.limiteFaltas) : null;\n  const restantes = Number.isFinite(Number(absence?.faltasRestantes)) ? Number(absence.faltasRestantes) : null;\n\n  let status = Number.isFinite(limite)\n    ? `*${faltas}/${limite}*`\n    : `*${faltas}*`;\n\n  if (Number.isFinite(limite) && Number.isFinite(restantes)) {\n    status += restantes >= 0\n      ? ` | Restam *${restantes}*`\n      : ` | Excesso *${Math.abs(restantes)}*`;\n  }\n\n  return status;\n}\n\n// 1) Google Calendar items (keep all-day only for today to reduce noise in briefing)\ngcalItems.forEach(item => {\n  const event = item.json || {};\n  const parsed = parseCalendarStart(event.start);\n  if (!parsed) return;\n\n  const isToday = dayKey(parsed.ms) === todayKey;\n  if (parsed.allDay && !isToday) return;\n\n  events.push(buildEvent(parsed.ms, parsed.allDay, 'AGENDA', esc(event.summary || 'Sem titulo')));\n});\n\n// 2) Moodle items\nif (Array.isArray(moodleItem.events)) {\n  moodleItem.events.forEach(event => {\n    if (!event || !event.timestart) return;\n\n    const ms = Number(event.timestart) * 1000;\n    if (!Number.isFinite(ms) || ms < nowMs - 5 * 60 * 1000) return;\n\n    const course = esc(event.course && event.course.shortname ? event.course.shortname.trim() : 'MOODLE');\n    const title = esc(event.name || 'Atividade sem titulo');\n    events.push(buildEvent(ms, false, course, title));\n  });\n}\n\n// 3) Classroom items\nfor (let i = 0; i < prepItems.length; i++) {\n  const prep = prepItems[i].json || {};\n  if (prep.noCourses) break;\n\n  const coursework = cwItems[i] ? cwItems[i].json : {};\n  const works = Array.isArray(coursework.courseWork) ? coursework.courseWork : [];\n\n  works.forEach(work => {\n    if (!work.dueDate) return;\n\n    const year = Number(work.dueDate.year);\n    const month = Number(work.dueDate.month);\n    const day = Number(work.dueDate.day);\n    if (!Number.isFinite(year) || !Number.isFinite(month) || !Number.isFinite(day)) return;\n\n    // 23:59 BRT represented in UTC.\n    const dueMs = Date.UTC(year, month - 1, day, 2, 59, 0);\n    if (!Number.isFinite(dueMs) || dueMs < nowMs || dueMs > in14dMs) return;\n\n    events.push(buildEvent(dueMs, false, esc(prep.courseName || 'CLASSROOM'), esc(work.title || 'Tarefa sem titulo')));\n  });\n}\n\n// 4) UTFPR classes (/aulas)\nif (aulasData && aulasData.ok) {\n  const todayClasses = Array.isArray(aulasData.todayClasses) ? aulasData.todayClasses : [];\n  const classBlocks = todayClasses.slice(0, 14);\n\n  classBlocks.forEach(block => {\n    const dayOffset = Number(block.dayOffset || 0);\n    const start = String(block.inicio || '00:00');\n    const ms = pseudoMsFromOffset(dayOffset, start);\n\n    const cod = esc(block.cod || 'DISC');\n    const disciplina = esc(block.disciplina || 'Aula');\n    const sala = block.sala ? ` (Sala ${esc(block.sala)})` : '';\n    const title = `${cod} - ${disciplina}${sala}`;\n\n    events.push(buildEvent(ms, false, 'AULAS', title));\n  });\n}\n\nevents.sort((a, b) => a.ms - b.ms);\n\nconst todayItems = events.filter(event => event.isToday);\nconst nextItems = events.filter(event => !event.isToday);\nconst urgentCount = events.filter(event => event.ms > nowMs && event.ms <= in48hMs).length;\n\nfunction renderItems(items) {\n  return items\n    .map(item => {\n      const context = item.context;\n      const title = item.title;\n      const when = item.allDay\n        ? `${item.day} — O DIA TODO`\n        : `${item.day} as ${item.time}`;\n      return `• *[${item.priority}]* *[${context}]* ${title}\\n  Quando: ${when}`;\n    })\n    .join('\\n\\n');\n}\n\nlet message = `*Briefing Integrado - ${formatDay(nowMs)}*\\n\\n`;\n\nmessage += '*RESUMO*\\n';\nmessage += `• Total: *${events.length}*\\n`;\nmessage += `• Hoje: *${todayItems.length}*\\n`;\nmessage += `• Urgentes (<48h): *${urgentCount}*\\n\\n`;\n\nif (aulasData && aulasData.ok) {\n  const totals = aulasData.totals || {};\n  const todayClasses = Array.isArray(aulasData.todayClasses) ? aulasData.todayClasses : [];\n  const absRows = Array.isArray(aulasData.todayAbsences) ? aulasData.todayAbsences : [];\n\n  const aulasBlocos = Number.isFinite(Number(totals.todayBlocks))\n    ? Number(totals.todayBlocks)\n    : todayClasses.length;\n  const aulasSlots = Number.isFinite(Number(totals.todaySlots))\n    ? Number(totals.todaySlots)\n    : todayClasses.reduce((acc, block) => acc + countSlotsInBlock(block), 0);\n  const disciplinasHoje = Number.isFinite(Number(totals.todayDisciplines))\n    ? Number(totals.todayDisciplines)\n    : new Set(todayClasses.map(block => String(block.cod || block.disciplina || '').trim()).filter(Boolean)).size;\n\n  message += `• Aulas hoje: *${aulasSlots}* ${plural(aulasSlots, 'aula', 'aulas')} em *${aulasBlocos}* ${plural(aulasBlocos, 'bloco', 'blocos')}\\n`;\n  message += `• Disciplinas: *${disciplinasHoje}*\\n`;\n\n  if (aulasData.hint && aulasData.hint.when === 'hoje') {\n    message += `• Dica: arrumar *${esc(aulasData.hint.arrumarAt)}* | sair *${esc(aulasData.hint.sairAt)}*\\n`;\n  }\n\n  if (absRows.length === 0) {\n    message += '• Frequencia: sem dados de faltas para hoje\\n';\n  } else {\n    absRows.slice(0, 6).forEach(row => {\n      const cod = esc(row.cod || 'DISC');\n      const disciplina = esc(row.disciplina || 'Sem nome');\n      message += `• [${cod}] ${disciplina}: ${formatAbsenceStatus(row)}\\n`;\n    });\n  }\n\n  message += '\\n';\n}\n\nmessage += '*HOJE*\\n';\nif (todayItems.length === 0) {\n  message += 'Nenhum item para hoje.\\n';\n} else {\n  message += `${renderItems(todayItems)}\\n`;\n}\n\nmessage += '\\n*PROXIMOS DIAS*\\n';\nif (nextItems.length === 0) {\n  message += 'Nenhum item nos proximos dias.';\n} else {\n  message += renderItems(nextItems);\n}\n\nreturn [{ json: { text: message.trim() } }];"
      },
      "id": "622bea1d-2427-4750-a828-65928690534c",
      "name": "Format All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        112
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "66a41351-6ec8-4872-a4d1-3a0f4e9ee119",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1400,
        112
      ],
      "credentials": {
        "telegramApi": {
          "id": "Yq8E9uV5gI8Zm2Gq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Moodle API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Moodle API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Moodle API": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "UTFPR Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UTFPR Auth": {
      "main": [
        [
          {
            "node": "UTFPR Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UTFPR Dados": {
      "main": [
        [
          {
            "node": "Select UTFPR Course",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select UTFPR Course": {
      "main": [
        [
          {
            "node": "UTFPR Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UTFPR Horario": {
      "main": [
        [
          {
            "node": "UTFPR Boletim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UTFPR Boletim": {
      "main": [
        [
          {
            "node": "Parse Aulas Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Aulas Data": {
      "main": [
        [
          {
            "node": "Get Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Courses": {
      "main": [
        [
          {
            "node": "Prep Classroom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Classroom": {
      "main": [
        [
          {
            "node": "Get CourseWork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CourseWork": {
      "main": [
        [
          {
            "node": "Format All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format All": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
